<!-- Google Analytics -->
{{ template "_internal/google_analytics_async.html" . }}

{{ if .Site.Params.highlightjs }}
  <script src="//unpkg.com/jquery@3.2.1"></script>
  <script src="//cdnjs.cloudflare.com/ajax/libs/highlight.js/9.8.0/highlight.min.js"></script>
  {{ range .Site.Params.highlightjslanguages }}
    <script src="//cdnjs.cloudflare.com/ajax/libs/highlight.js/9.8.0/languages/{{.}}.min.js"></script>
  {{ end }}

  <script type="text/javascript">
    hljs.initHighlightingOnLoad();
  </script>
  <script>
        $(document).ready(function() {
        var host = "wayanjimmy.gitlab.io";
            if ((host == window.location.host) && (window.location.protocol != 'https:')) {
              window.location = window.location.toString().replace(/^http:/, "https:");
            }
        });
  </script>
{{ end }}
